.access {
  margin-top: 120px;
  width: 100%;
  background-color: #070b1d;
  height: 217px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .access {
    height: auto;
    padding: 30px 0 30px 0;
  }
}

.access__wrapper {
  width: 1163px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .access__wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .access__wrapper {
    width: 90%;
    flex-direction: column;
  }
}

.access__wrapper-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .access__wrapper-middle {
    width: 100%;
    justify-content: space-between;
  }
}

.access__wrapper-middle > h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  color: #00b2ff;
  margin-left: 60px;
}

@media screen and (max-width: 1280px) {
  .access__wrapper-middle > h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .access__wrapper-middle > h3 {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .access__wrapper-middle > h3 {
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 121%;
  }
}

@media screen and (max-width: 425px) {
  .access__wrapper-middle > h3 {
    font-size: 18px;
  }
}

.access__wrapper-last {
  display: none;
}

@media screen and (max-width: 768px) {
  .access__wrapper-last {
    display: block;
  }
}

.rectangle {
  width: 46px;
  height: 23px;
}

@media screen and (max-width: 768px) {
  .rectangle {
    width: 19px;
    height: 10px;
  }
}
