.brands {
  max-width: 1440px;
  margin: 120px auto 0;
}

@media screen and (max-width: 1440px) {
  .brands {
    width: 95%;
  }
}

.brands__logos {
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .brands__logos {
    margin-top: 40px;
  }
}

.brands__slider {
  text-align: center;
  width: auto;
}

.brandsSwiper {
  width: 100%;
  height: 100%;
}

.brandsSwiper .swiper-slide {
  width: auto;
}
