.formEntry__inputs {
  display: grid;
  grid-template-rows: 80px 80px;
  grid-template-columns: 460px;
  grid-gap: 30px;
}

@media screen and (max-width: 768px) {
  .formEntry__inputs {
    grid-template-rows: repeat(2, 37px);
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.formRegistration__forma {
  width: 460px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .formRegistration__forma {
    width: 100%;
  }
}

.formEntry {
  background-color: #070b1d;
  margin: 20px auto 0;
  width: 1255px;
  padding: 35px 12px 40px 12px;
}

@media screen and (max-width: 1440px) {
  .formEntry {
    width: 100%;
  }
}
