.expertContent {
  display: flex;
  width: 600px;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .expertContent {
    width: 100%;
  }
}

.expertContent > img {
  width: 70px;
  height: 75px;
}

.expertContent-right {
  margin-left: 30px;
  width: 337px;
}

@media screen and (max-width: 550px) {
  .expertContent-right {
    margin-left: 20px;
    width: 100%;
  }
}

.expertContent-right > h5 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

@media screen and (max-width: 550px) {
  .expertContent-right > h5 {
    font-size: 14px;
  }
}

.expertContent-right > p {
  margin-top: 15px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (max-width: 550px) {
  .expertContent-right > p {
    font-size: 11px;
    line-height: 15px;
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .expertContent-right > p {
    width: 90%;
  }
}

.expertSliderBottons {
  display: flex;
  justify-content: space-between;
  width: 80px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .expertSliderBottons {
    display: none;
  }
}

.buttonStyle {
  width: 46px;
  height: 23px;
}

.buttonStyle > svg > path:active {
  fill: #070b1d;
}

.experts__sliderBlock {
  display: flex;
  align-items: center;
  width: 95%;
}

@media screen and (max-width: 1550px) {
  .experts__sliderBlock {
    width: 100%;
  }
}
