.formRegistration {
  background-color: #070b1d;
  margin: 20px auto 0;
  padding: 35px 152px 60px 152px;
}

@media screen and (max-width: 1280px) {
  .formRegistration {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .formRegistration {
    padding: 35px 50px 40px 50px;
  }
}

@media screen and (max-width: 425px) {
  .formRegistration {
    padding: 30px 12px 40px 12px;
  }
}

.formRegistration__inputs {
  display: grid;
  grid-template-rows: 80px 80px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@media screen and (max-width: 768px) {
  .formRegistration__inputs {
    grid-template-rows: repeat(4, 37px);
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.formRegistration__input > input {
  border: 2px solid #00b2ff;
  background-color: #070b1d;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #a6a6a6;
  padding-left: 35px;
}

@media screen and (max-width: 425px) {
  .formRegistration__input > input {
    font-size: 8px;
  }
}

.form__headline {
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form__headline {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .form__headline {
    font-size: 21px;
  }
}

.form__paragraph {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #ffffff;
  margin: 30px 0 45px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form__paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .form__paragraph {
    font-size: 11px;
    line-height: 18px;
    margin: 15px 0 20px 0;
  }
}

form > p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #ffffff;
  margin: 30px 0 0 0;
  text-align: center;
}

@media screen and (max-width: 425px) {
  form > p {
    font-size: 10px;
    margin: 15px 0 0 0;
  }
}

form > p > a {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  form > p > a {
    font-size: 10px;
  }
}

.formRegistration__input {
  position: relative;
}

.form__error {
  color: #ff2525;
  text-align: left;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 27px;
  display: none;
  position: absolute;
  top: -30px;
}

@media screen and (max-width: 1024px) {
  .form__error {
    font-size: 10px;
    top: -25px;
  }
}

.lostPassword {
  position: absolute;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  color: #a6a6a6;
  top: 35%;
  right: 20px;
  text-decoration: none;
  cursor: pointer;
}

.lostPassword:hover {
  color: #00b2ff;
}

@media screen and (max-width: 768px) {
  .lostPassword {
    font-size: 10px;
  }
}

.formRegistration__input > input:invalid:not(:placeholder-shown) {
  color: red;
}

.formRegistration__input > input:invalid:not(:placeholder-shown) {
  color: red;
}

.formRegistration__input
  > input:invalid:not(:placeholder-shown)
  + .form__error {
  display: block;
}

.formRegistration__checkbox {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  margin: 35px 0 40px 0;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .formRegistration__checkbox {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .formRegistration__checkbox {
    font-size: 8px;
    margin: 14px 0 20px 30px;
  }
}

.formRegistration__checkbox > label > input {
  margin-right: 12px;
}

.button-wrap {
  display: flex;
  width: 215px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .button-wrap {
    width: 156px;
  }
}

.formRegistration__checkbox-link {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .formRegistration__checkbox-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .formRegistration__checkbox-link {
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 2px;
  }
}

.formRegistration__checkbox-link:hover {
  color: #00b2ff;
  text-decoration: underline;
}

.formRegistration__input > input:focus::-webkit-input-placeholder {
  color: #00b2ff;
}

.formRegistration__input > input:focus::-moz-placeholder {
  color: #00b2ff;
}

.formRegistration__input > input:-ms-input-placeholder {
  color: #00b2ff;
}

.formRegistration__input > input:focus {
  border: 2px solid #00b2ff;
}

input {
  outline: none;
}

/*checkbox*/

.formRegistration__checkbox-label {
  margin-left: 30px;
}

.check-box {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  padding-left: 30px;
}

.check-style {
  width: 20px;
  height: 20px;
  border: 1px solid #00b2ff;
  border-radius: 6px;
  position: absolute;
  box-sizing: border-box;
  margin-left: -30px;
}

.check-box:checked + .check-style::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #00b2ff;
  border-radius: 6px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check-box:disabled + .check-style::before {
  background-color: #ccc;
}

.check-box:checked:disabled + .check-style::before {
  background-color: #ccc;
}
.check-box:checked + .check-style {
  border: 1px solid #00b2ff;
}
