header {
  width: 100%;
  background-color: #070b1d;
  height: 250px;
}

@media screen and (max-width: 1850px) {
  header {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 46px;
  }
}

.header-background {
  max-width: 1920px;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 714px;
  margin: 0 auto;
}

.header__blocks {
  max-width: 1850px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 36px 20px 0 20px;
}

/*
.header {
  display: none;
}

@media screen and (max-width: 1850px) {
  .header {
    display: block;
    background-color: #070b1d;
  }
}


.header__navMax {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 12px 0 12px 0;
  align-items: center;
}

.header-wrapper {
  max-width: 1920px;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 714px;
  margin: 0 auto;
}

@media screen and (max-width: 1850px) {
  .header-wrapper {
    display: none;
  }
  .header-wrapperMin {
    background-image: url(../images/header.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 714px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .header-wrapperMin {
    background-image: url(../images/header1024.png);
    height: 733px;
  }
}

@media screen and (max-width: 768px) {
  .header-wrapperMin {
    background-image: url(../images/header768.png);
    height: 960px;
  }
}

@media screen and (max-width: 425px) {
  .header-wrapperMin {
    background-image: url(../images/header425.png);
    height: 532px;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  padding: 36px 0 36px 0;
}

@media screen and (max-width: 1850px) {
  .header__nav {
    display: none;
  }
}

.headerBotton {
  border: none;
  background: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header__nav-right > a > img {
    width: 45px;
    height: 23px;
  }
}

.header__nav-left {
  width: 156px;
}

@media screen and (max-width: 1850px) {
  .header__nav-left {
    width: 45px;
  }
}

.header__nav-left > li > a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #00b2ff;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
}

.header__nav-left > li > a:hover {
  text-decoration: underline;
}

.header__headline {
  margin-left: 20%;
}

.header__headline > h1 {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  line-height: 150%;
  margin: 0;
}

.header__headline > h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  margin: 50px 0 50px 0;
}

*/
.header__nav-left > button {
  border: none;
  background: none;
  cursor: pointer;
}

.header__nav-left > li > a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #00b2ff;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
}

.header__nav-left > li > a:hover {
  text-decoration: underline;
}
