* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headerPage-wrapper {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 36px;
}

@media screen and (max-width: 1920px) {
  .headerPage-wrapper {
    font-size: 30px;
  }
}

.alignItems {
  align-items: center;
}

@media screen and (max-width: 1850px) {
  .headerPage-wrapper {
    padding: 24px;
  }
}

@media screen and (max-width: 768px) {
  .headerPage-wrapper {
    padding: 12px;
  }
}

.headerPage__left > img {
  width: 100%;
}

.headerPage__middle {
  width: calc(100% - 400px);
}

.mt70-0 {
  margin-top: 70px;
}

@media screen and (max-width: 1850px) {
  .mt70-0 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1850px) {
  .headerPage__middle {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 1024px) {
  .headerPage__middle {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 425px) {
  .headerPage__middle {
    display: none;
  }
}

.headerPage__middle > h2 {
  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 400;
  font-size: 60px;
  color: #ffffff;
  margin-top: 30px;
}

@media screen and (max-width: 1850px) {
  .headerPage__middle > h2 {
    margin-top: 0;
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .headerPage__middle > h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .headerPage__middle > h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .headerPage__middle > h2 {
    font-size: 20px;
  }
}

.breadcrumb {
  list-style: none;
  display: flex;
}

.breadcrumbPage {
  display: none;
}

.breadcrumb > li {
  margin-right: 23px;
}

.breadcrumb > li > a {
  font-size: 18px;
  font-family: "Roboto";
  color: #00b2ff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .breadcrumb > li > a {
    font-size: 14px;
  }
  .breadcrumb > li {
    margin-right: 10px;
    list-style-type: none;
  }
}

@media screen and (max-width: 425px) {
  .breadcrumb > li > a {
    font-size: 9px;
  }
}

.rules__headline {
  margin-top: 30px;
}

.widthStylePolitic {
  width: 156px;
}

.colorBlack {
  background-color: #070b1d;
}

#open {
  display: none;
}

@media screen and (max-width: 1850px) {
  .header__right-list {
    display: none;
  }
  .breadcrumbNone {
    display: none;
  }
  .breadcrumbPage {
    display: flex;
  }
  .widthStylePolitic {
    width: 70px;
  }
  .widthStylePoliticRight {
    width: 24px;
  }
  #open {
    display: block;
  }
  .headerBotton-max {
    display: none;
  }
}
