.changeColor {
  background-color: white;
}

@media screen and (max-width: 1850px) {
  .changeColor {
    background-color: #070b1d;
  }
}

.registrationForm {
  display: none;
}

.formRegistrationNone {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1850px) {
  .registrationForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
  }
  .formRegistrationNone {
    display: none;
  }
}

.registrationBlock {
  max-width: 1255px;
  display: flex;
  margin: 20px auto;
}

.mt50w1255 {
  margin-top: 50px;
  width: 1255px;
}
