.rules {
  width: 1440px;
  margin: 40px auto;
}

@media screen and (max-width: 1480px) {
  .rules {
    width: 95%;
    padding: 0px 10px 0px 10px;
  }
}

@media screen and (max-width: 768px) {
  .rules {
    margin: 20px auto;
  }
}

.rules__paragraph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #070b1d;
  line-height: 23px;
  margin-top: 20px;
}

.rules__headline {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 35px;
  color: #070b1d;
  line-height: 56px;
}

.rules__text {
  margin-top: 30px;
  font-family: "Circe";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-left: 25px;
}

.rules__details {
  margin-top: 30px;
  font-family: "Circe";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .rules__headline {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 425px) {
  .rules__text {
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
  }
  .rules__details {
    font-size: 12px;
  }
}

ol {
  list-style: none;
  counter-reset: li;
}
ol > li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}
