.rules {
  width: 1440px;
  margin: 40px auto;
}

@media screen and (max-width: 1450px) {
  .rules {
    width: 95%;
    padding: 0px 10px 0px 10px;
  }
}

@media screen and (max-width: 768px) {
  .rules {
    margin: 20px auto;
  }
}

.rules__headline {
  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 400;
  font-size: 40px;
  color: #070b1d;
  line-height: 56px;
}

.mt30 {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .rules__headline {
    font-size: 20px;
    line-height: 25px;
  }
}

.rules__block {
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .rules__block {
    margin-left: 30px;
  }
}

@media screen and (max-width: 425px) {
  .rules__block {
    margin-left: 20px;
  }
}
