@import "./header.css";
@import "./know.css";
@import "./access.css";
@import "./why.css";
@import "./tarif.css";
@import "./blog.css";
@import "./experts.css";
@import "./brands.css";
@import "./demo.css";
@import "./creator.css";
@import "./footer.css";

@import "./headerPolitic.css";
@import "./rules.css";

@import "./normalize.css";
@import "../vendor/fonts.css";
@import "./swiper-bundle.css";

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  width: 215px;
  height: 70px;
  background-color: #00b2ff;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #070b1d;
}

@media screen and (max-width: 768px) {
  .button {
    width: 156px;
    height: 39px;
    font-size: 10px;
  }
}

.headline {
  display: flex;
  align-items: center;
  width: 550px;
  margin-bottom: 70px;
}
@media screen and (max-width: 550px) {
  .headline {
    width: 95%;
    margin-bottom: 40px;
  }
}

.headline > h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  color: #070b1d;
}

@media screen and (max-width: 550px) {
  .headline > h2 {
    font-size: 18px;
  }
}

.headline > img {
  width: 19px;
  height: 19px;
  margin-left: 25px;
}

@media screen and (max-width: 550px) {
  .headline > img {
    margin-left: 15px;
  }
}

.link {
  text-decoration: none;
  color: #00b2ff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: #070b1d;
}

.indent {
  max-width: 1440px;
  margin: 120px auto 0;
}

@media screen and (max-width: 1440px) {
  .indent {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .indent {
    margin: 60px auto 0;
  }
}
